html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}


@font-face {
  font-family: 'TOSTADA';
  src: url('webfontkits/tostada-webfont.woff2') format('woff2'),
       url('webfontkits/tostada-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Neou-Bold';
  src: url('webfontkits/neou-bold-webfont.woff2') format('woff2'),
       url('webfontkits/neou-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F4F4F4; 
  

}

.app {
  text-align: center;
  width: 100%;
  height: 100%;
}


ul {
  padding: 0;
}


.searchBar {
  height: 100px;
  width: 80%;
  margin: 25px auto 25px auto;
}

.searchInput {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  width: 100%;
  border-radius: 0;
}

.searchInput:focus {
  outline: none;
}

.searchTitle {

  text-align: left;
  font-family: Neou-Bold;
  letter-spacing: 6px;
  font-size: 12px;
  color:black
  
}

.dropInPanelContainer {
  position: fixed;
  bottom: -220px;
  width: 100%;
  z-index: 1 ;
  font-family: 'Neou-Bold';
  background-color: #f4f4f4;
  text-align: center;
  letter-spacing: 10px;
  transition: all, 0.5s;

}

.sortTitle {
  text-indent: 10px;
  width: 100%;
  font-size: 15px;
  margin: 10px 0px 10px 0;
}
.sortRow1 {
  width: 100%;
}

.sortRow2 {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.filterTitle {
  text-indent: 10px;

  font-size: 15px;
  margin: 10px 0px 20px 0;
}
.filterRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  padding: 5px;
  height: 30px;
}

.filterButton {
  text-align: center;
  font-size: 1em;
  width: 45%;
  background-color: transparent;
  border: none;
  outline: none;
}

.sortIcon {
  height: 40px;
  outline: none;
}

.sortButton {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  padding: 5px 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.dropInPanel {
  width: 100%;
  height: 240px;
  padding-top: 0px;
}

.filterPanelContainer{
  z-index: 99;
  text-align: left;
  flex:1;
}

.toggleDropIn {
  background-color: #f4f4f4;
  width: 100%;
  height: 75px;
  background-image: url(/icons/Menu-Icon.png);
  background-size:7%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline:none;
}



.reel {
  width: 100%;
  height:300px;
  position: relative;
  background: black;text-align: center;
}
.reelContainer {
  width: 100%;
  margin-bottom: 60px;

}

.reelBrandName {
  margin: 0 0 10px 0;
}

.reelName {
  font-family: Neou-Bold;
  letter-spacing: 6px;
  font-size: 12px;
  color:black;
  margin:0;
  z-index: 1;
  text-align: center;
  margin-bottom: 10px;
}

.reelPercent {
  font-family: TOSTADA;
  color: #f4f4f4;
  font-size: 50px;
  top:25px;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-indent: 20px;
}

.totalPaid {
  font-family: Neou-Bold;
  letter-spacing: 6px;
  font-size: 12px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px;

}

.reelImage {
  object-fit: cover;
  height: 146px;
  width: 146px;
  position: relative;
  top:110px;
  z-index: 1;
}

.reelList {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 50px;
}

.progress {
  position: absolute;
  bottom:0;
  width: 100%;
}


@media (min-width:600px)  {
  .reel {
  }

  .reelList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reelContainer {
    width: 45%;
  }
 }